## Address of the safe of interest
SAFE = ""
## Address which has the right to push transactions on Gnosis front: it could be a Gnosis signer, or a
## delegate which has been added 
SENDER = ""
## Private key of the sender
PRIVATE_KEY = ""

## You may also use this repo to execute transactions that were signed by Gnosis signers: in this case 
## you need to specify an URI associated to the network and a mnemonic
ETH_NODE_URI_RINKEBY=""
MNEMONIC_RINKEBY=""

ETH_NODE_URI_MAINNET=""
MNEMONIC_MAINNET=""