## Defaults
__pycache__
.idea
.DS_Store
.deps
.vscode
.docs
.env
.env-master
.env-guardian
.env-anglemaster
.env1
node_modules
venv
build
.env1
.env2
.env3
.env4
.env-governor
dist


# foundry
/out
/cache-forge